.button {
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0px;
    left: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 13px;
    z-index: 50;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: opacity 0.2s, background-color 0.2s, -webkit-filter 0.2s;
    transition: opacity 0.2s, background-color 0.2s, -webkit-filter 0.2s;
    transition: opacity 0.2s, filter 0.2s, background-color 0.2s;
    transition: opacity 0.2s, filter 0.2s, background-color 0.2s, -webkit-filter 0.2s;
    background-color: #ea2e34;
    border-radius: 0;
    width: 41px;
    height: 47px;

    /* -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    padding: 13px;
    top: 0;
    left: 0;
    z-index: 50;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: opacity 0.2s, background-color 0.2s, -webkit-filter 0.2s;
    transition: opacity 0.2s, background-color 0.2s, -webkit-filter 0.2s;
    transition: opacity 0.2s, filter 0.2s, background-color 0.2s;
    transition: opacity 0.2s, filter 0.2s, background-color 0.2s, -webkit-filter 0.2s;
    background-color: #ea2e34;
    border-radius: 0;
    width: 41px;
    height: 47px; */
}

.toc__hamburger-box {
    margin: 0;
    padding: 0;

    width: 41px;
    height: 47px;
    display: inline-block;
    position: relative;
}

.toc__hamburger-inner {
    margin: 0;
    padding: 0;

    display: block;
    top: 50%;
    margin-top: -13.5px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: -webkit-transform 0.08s;
    transition: -webkit-transform 0.08s;
    transition: transform 0.08s;
    transition: transform 0.08s, -webkit-transform 0.08s;
}

.toc__hamburger-inner:after, .toc__hamburger-inner:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: top 0.08s 0.16s, opacity 0.08s;

    bottom: -5px;
    -webkit-transition: bottom 0.08s 0.16s, -webkit-transform 0.08s;
    transition: bottom 0.08s 0.16s, -webkit-transform 0.08s;
    transition: bottom 0.08s 0.16s, transform 0.08s;
    transition: bottom 0.08s 0.16s, transform 0.08s, -webkit-transform 0.08s;
}

.toc__hamburger-inner:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: top 0.08s 0.16s, opacity 0.08s;

    bottom: 5px;
    -webkit-transition: bottom 0.08s 0.16s, -webkit-transform 0.08s;
    transition: bottom 0.08s 0.16s, -webkit-transform 0.08s;
    transition: bottom 0.08s 0.16s, transform 0.08s;
    transition: bottom 0.08s 0.16s, transform 0.08s, -webkit-transform 0.08s;
}